  <!doctype html>
<html>
  <head>
    <title>User Name:</title>
    <!-- <link rel="stylesheet" href="style.css" type="text/css"> -->

    <meta charset="UTF-8">
    <title>Bootstrap引入</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"> 
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->  
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>  
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->  
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
   

    
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->

  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script  src='./function.js'></script>
  <script>
      var socket = io();
</script>

  </head>
  <body>
    <!-- <ul id="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>

    <div id="msg"></div> -->
<style>
html, body
        {
            height: 100%;
        }
</style>
    <div  class="container-fluid h-100 row">
        <div class="container-fluid col-4 border border-primary">
                <div id="status-box"> Server: 
                        <span id="status">-</span> /  <span id="online">0</span> online.
                </div>
                <hr>
                <div class="container">
                        <div class="text-center font-weight-bold">聯絡人列表</div>
                        <ul id='user-list' class="list-group ">
                            <li class="user list-group-item list-group-item-action active">user1</li>
                            <li class="user list-group-item list-group-item-action">user2</li>
                            <li class="user list-group-item list-group-item-action">user3</li>
                            <li class="user list-group-item list-group-item-action">user4</li>
                            <li class="user list-group-item list-group-item-action">user5</li>

                            
                        </li>

                </div>           

        </div>

        <div class="container-fluid col-8 border border-primary mr-0">

                <div id='current-chat' class="text-center font-weight-bold">
                    目前對話者:
                </div>
                <hr>

                <div  style='height:350px' class="content container">
                    
                    <ul id='chat-window'>
                        
                        
                        
                    </ul>

                </div>
                <hr>
                <div id="send-box" class="wrap container ">
                        <form id="send-form" class='mb-0 form-group'>
                            <input type="text" name="name" id="name" disabled >
                            <input type="text" name="msg" id="msg" placeholder="說點什麼？">
                            <input type="submit" value="送出" class='btn btn-outline-primary btn-sm'>
                        </form>
                </div>

            </div>
            


      

  </div>

  <script>
        
        var user_list=document.getElementsByClassName('user');
        
        //active class + handle conversation shown on window
        for(let i=0;i<user_list.length;i++){
            user_list[i].addEventListener('click',function(){
                const target_name=$(this).text();
                $('#user-list li').removeClass('active');    
                $(this).addClass("active");
                // socket.emit('switch_chat',target_name);
                $('#current-chat').text("目前對話者:"+target_name);
                
            
            });

            
        }

        var name=getCookie('name');
        if(name){
            $('#name').val(name);
        } 
   
        $("form").submit(function(){
            var formData={
                name:$('#name').val(),
                msg: $('#msg').val()
            };
            
          socket.emit('send',formData);
          setCookie("name", $('#name').val());
          $('#msg').val('');

          return false;
        });
       

        //線上人數
        socket.on("online", function (amount) {
              $('#online').text(amount);
          });
        //send message
        socket.on('send',function(formData){
            $('#chat-window').append(
                $('<div>').append(
                $('<li>',{class:'list-group-item',text:formData.msg})
                )
            );
        });
        //switch chat
        socket.on('switch_chat',function(){

        });


    
       
</script>
    





  <!-- <script>
      document.addEventListener("DOMContentLoaded", () => {

          var status = document.getElementById("status");
          var online = document.getElementById("online");
          var sendForm = document.getElementById("send-form"); // 加入這行
 

          socket.on("connect", function () {
              status.innerText = "Connected.";
          });

          socket.on("disconnect", function () {
              status.innerText = "Disconnected.";
          });

          socket.on("online", function (amount) {
              online.innerText = amount;
          });


           // 加入這段
          sendForm.addEventListener("submit", function (e) {
            e.preventDefault();
    
            var formData = {};
            var formChild = sendForm.children;
    
            for (var i=0; i< sendForm.childElementCount; i++) {
                var child = formChild[i];
                if (child.name !== "") {
                    formData[child.name] = child.value;
                }
            }
            socket.emit("send", formData);
          });
 
 
      });
  </script> -->




 






  </body>
  
</html>
