<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
    

  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script>
      var socket = io();
</script>
  </head>
  <body>
    <!-- <ul id="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>

    <div id="msg"></div> -->

    <div id="container">
      <div id='user-list'>聯絡人列表</div>
      <div id="status-box">Server: <span id="status">-</span> / <span id="online">0</span> online.</div>
      <div>目前對話者</div>
      <div id="content">
          <div class="msg">
              <span class="name">{Duye}</span>
              Hello!
          </div>
          <div class="msg">
              <span class="name">{Alice}</span>
              Hi!
          </div>
      </div>
      
      <div id="send-box">
          <form id="send-form">
              <input type="text" name="name" id="name" placeholder="暱稱">
              <input type="text" name="msg" id="msg" placeholder="說點什麼？">
              <input type="submit" value="送出">
          </form>
      </div>
  </div>


<script>
   
    $("form").submit(function(){    
      socket.emit('chat message', $('#msg').val());
      $('#msg').val('');
    
      return false;
    });

   
  </script>

  <!-- <script>
      document.addEventListener("DOMContentLoaded", () => {

          var status = document.getElementById("status");
          var online = document.getElementById("online");
          var sendForm = document.getElementById("send-form"); // 加入這行
 

          socket.on("connect", function () {
              status.innerText = "Connected.";
          });

          socket.on("disconnect", function () {
              status.innerText = "Disconnected.";
          });

          socket.on("online", function (amount) {
              online.innerText = amount;
          });


           // 加入這段
          sendForm.addEventListener("submit", function (e) {
            e.preventDefault();
    
            var formData = {};
            var formChild = sendForm.children;
    
            for (var i=0; i< sendForm.childElementCount; i++) {
                var child = formChild[i];
                if (child.name !== "") {
                    formData[child.name] = child.value;
                }
            }
            socket.emit("send", formData);
          });
 
 
      });
  </script> -->




 






  </body>
  
</html>
